:root {
  --navHeight: 60px;
  --chatBG: #16213E;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rightChatbox {
  text-align: right;
  margin-right: 10px;
}

.leftChatbox {
  text-align: left;
  margin-left: 10px;
}

.rightChatbox,
.leftChatbox {
  padding: 5px 10px;
  margin-top: 10px;
  width: max-content;
  background-color: #E94560;
  border-radius: 5px
}


.chatContainer,
.container {
  height: 95%;
  background-color: #16213E;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  overflow-y: scroll;
  padding: 20px;
  width: 100%;
  flex: 10;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}

.msgContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.right {
  flex-direction: row-reverse;
}

.left {
  flex-direction: row;
}

.sendMsgForm {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 10px;
  /* padding: 20px; */
}

.sendMsgForm input {
  flex: 5;
  margin: auto 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #0F3460;
  padding: 10px 10px;
}

.sendMsgForm button {
  flex: 1;
  margin: auto 10px;
  border-radius: 5px;
  padding: 11px 0;
  border: none;
  background-color: #0F3460;
  color: white;
}

.username {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.455);
}

.joinedMsg {
  background-color: red !important;
}

.togglePage {
  cursor: pointer;
  text-decoration: underline;
}

/* CSS FOR USER CHAT ROUTE */
.userChatContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: var(--navHeight);
}

.chatDiv {
  display: flex;
  flex-direction: row;
}

.chatSidebar {
  flex: 1;
  background-color: white;
  height: calc(100vh - var(--navHeight));
}

.chatScreen {
  flex: 3;
  background-color: var(--chatBG);
  height: calc(100vh - var(--navHeight));

  display: flex;
  flex-direction: column-reverse;
}

.userImage img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px
}

.usernameList_email {
  color: grey;
  font-size: 0.85rem;
}